automation/n8n-workflow-enquiry-form.json
{
  "name": "Portfolio — Enquiry form (webhook → Sheets + email)",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "portfolio-enquiry",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1e2n3q4-0001-4000-8000-000000000001",
      "name": "Webhook — Enquiry POST",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "a1e2n3q4-0001-4000-8000-0000000000a1"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst b = item.body && typeof item.body === 'object' ? item.body : item;\n\nconst name = String(b.name ?? '').trim();\nconst email = String(b.email ?? '').trim();\nconst enquiryText = String(b.message ?? b.enquiry ?? '').trim();\nconst rawSource = String(b.source ?? '').trim();\nconst source = rawSource === 'enquiry-form' ? 'website-enquiry' : (rawSource || 'website-enquiry');\n\nif (!name) throw new Error('Name is required');\nif (!/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email)) throw new Error('Valid email is required');\nif (!enquiryText) throw new Error('Enquiry is required');\n\nconst Timestamp = new Date().toISOString();\nconst smtpFrom = 'robinrawat37@gmail.com';\nconst emailSubject = 'Thanks for your enquiry — Robin Rawat';\nconst emailText = [\n  'Thank you for reaching out through my website.',\n  '',\n  'I’ve received your enquiry and will review the details shortly. I’ll get back to you as soon as possible, usually within 24–48 hours.',\n  '',\n  'In the meantime, if your enquiry is urgent, you can also reach me directly at robinrawat37@gmail.com or +91 9416149624.',\n  '',\n  'Thanks again for your interest.',\n  '',\n  'Best regards,',\n  'Robin Rawat'\n].join('\\n');\n\nreturn [{\n  json: {\n    Timestamp,\n    Name: name,\n    Email: email,\n    Enquiry: enquiryText,\n    Source: source,\n    smtpFrom,\n    emailSubject,\n    emailText\n  }\n}];"
      },
      "id": "a1e2n3q4-0001-4000-8000-000000000002",
      "name": "Normalize + validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 0]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "sheet",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_GOOGLE_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Enquiry",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.Timestamp }}",
            "Name": "={{ $json.Name }}",
            "Email": "={{ $json.Email }}",
            "Enquiry": "={{ $json.Enquiry }}",
            "Source": "={{ $json.Source }}"
          }
        },
        "options": {}
      },
      "id": "a1e2n3q4-0001-4000-8000-000000000003",
      "name": "Append row — Enquiry sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [520, 0]
    },
    {
      "parameters": {
        "operation": "send",
        "fromEmail": "={{ $('Normalize + validate').first().json.smtpFrom }}",
        "toEmail": "={{ $('Normalize + validate').first().json.Email }}",
        "subject": "={{ $('Normalize + validate').first().json.emailSubject }}",
        "emailFormat": "text",
        "text": "={{ $('Normalize + validate').first().json.emailText }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "a1e2n3q4-0001-4000-8000-000000000004",
      "name": "Send confirmation email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [780, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true } }}",
        "options": {}
      },
      "id": "a1e2n3q4-0001-4000-8000-000000000005",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1040, 0]
    },
    {
      "parameters": {
        "content": "## Setup (one-time)\n1. **Spreadsheet**: Create tab **Enquiry** with row 1 headers: `Timestamp`, `Name`, `Email`, `Enquiry`, `Source` (same order as Next.js `appendToSheet`).\n2. **Google Sheets node**: Paste your `GOOGLE_SHEETS_SPREADSHEET_ID` into Document ID; connect OAuth2; open the node once so column mapping refreshes if needed.\n3. **SMTP**: Same host/user as portfolio `.env` (`SMTP_*`). Set **from** via Code node `smtpFrom` if you use a different From address.\n4. **Activate** workflow → copy Production Webhook URL → set `NEXT_PUBLIC_ENQUIRY_WEBHOOK_URL` for static builds, or use `/api/enquiry` on Netlify.\n\n**Payload** (from site): `{ name, email, message, source }` (webhook mode) — `message` is the enquiry text.",
        "height": 420,
        "width": 380
      },
      "id": "a1e2n3q4-0001-4000-8000-000000000099",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-420, -120]
    }
  ],
  "connections": {
    "Webhook — Enquiry POST": {
      "main": [[{ "node": "Normalize + validate", "type": "main", "index": 0 }]]
    },
    "Normalize + validate": {
      "main": [[{ "node": "Append row — Enquiry sheet", "type": "main", "index": 0 }]]
    },
    "Append row — Enquiry sheet": {
      "main": [[{ "node": "Send confirmation email", "type": "main", "index": 0 }]]
    },
    "Send confirmation email": {
      "main": [[{ "node": "Respond 200 OK", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "active": false
}
